@use '../resource/resources';

.nav {
    height:10%;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    
    h1 {
        margin-left: 3%;
        font-size: 2em;
    }
}

.nav-btn-contact {
    height: 100%;
    width: 10%;    
    background-color: #E0E5EC;
    color: #a3b1c699;
    font-weight: bold;
    font-size: 3em;
    border: none;
    border-left: 2px dashed #a3b1c699;
}